@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
} 

:root{
    --main-bg-color: black;
    --blue-dark: #35374B;
    --blue-medium: #344955;
    --blue-light: #50727B;
    --green: #78A083;
}

/*
Paleta de Colores
https://www.colorhunt.co/palette/35374b34495550727b78a083

*/
body {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/ecualizador.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.nav-logo {
    font-size: 2rem;
    color: var(--green);
    text-decoration:none;
}
/* --MAIN  */
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-content{
    width: 100%;
    max-width: 450px;
    background-color: var(--blue-medium);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}
i{
    color: var(--green);
}

.form-content h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: white;
    position: relative;
}
.form-content h1::after{
    content: '';
    width: 50px;
    height: 4px;
    border-radius: 3px;
    background: var(--green);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field{
    background-color: var(--blue-light);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
}
p{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: white;
}
input::placeholder{
    color: var(--blue-medium);
}
.input-field i {
    margin-left: 15px;
    color: var(--blue-medium);
}

form p {
    color: var(--green);
    text-align: left;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 800;
}
form p a {
    color: var(--green);
    margin-left: 5px;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button {
    flex-basis: 48%;
    font-size: 16px;
    background-color: var(--green);
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
/* .input-group{
    height: 500px;
} */
.btn-field button.disable{
    background-color: var(--blue-dark);
}